.button {
  width: max-content;
  height: max-content;
  padding: 2rem 6rem;
  border-radius: 0.5rem;
  border: 1px;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  background-color: #a4d7f2;
  text-decoration: none;
  display: block;
  color: #000;
  text-align: center;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #009bef;
}
